body {
  background: white;
  font-family: "Euclid Circular A";
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  color: inherit;
  font-family: "Euclid Circular A";
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 4px;
  padding: 0;
  height: 100%;
  opacity: 0.6;
}

@media (width >= 500px) {
  button {
    font-size: 16px;
  }
}

h2 {
  margin: 16px 0 10px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
}

@media (width >= 500px) {
  h2 {
    font-size: 14px;
  }
}

.navbar,
.burger,
.dropdowns {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  z-index: 1;
  left: 0;
  display: flex;
  align-items: stretch;
  height: 72px;
  background:white;
  color:black;
  box-shadow: 0 8px 12px rgb(0 0 0 / 20%);
}

.burger {
  z-index: 3;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .burger {
  background-image: url("close.svg");
}

@media (width >= 500px) {
  .burger {
    display: none;
  }
}

button > img {
  display: none;
}

@media (width >= 500px) {
  .dropdown > button {
    padding: 0 10px 0 24px;
  }

  button > img {
    display: block;
  }
}

@media (width >= 500px) {
  .dropdown:hover button {
    opacity: 1;
  }
}

.dropdowns {
  left: -9999px;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  background: #0d0d0e;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
}

@media (width < 500px) {
  body.open .dropdowns {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}

@media (width >= 500px) {
  .dropdowns {
    position: static;
    flex-direction: row;
    /* justify-content: flex-start; */
    background: transparent;
    opacity: 1;
    visibility: visible;
    padding-left: 0;
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media (width >= 500px) {
  .dropdown {
    height: 100%;
    flex-direction: row;
    align-items: center;
  }

  .dropdown-menu {
    position: absolute;
    top: 72px;
    left: 0;
    display: flex;
    gap: 32px;
    padding: 6px 24px 20px;
    margin-bottom: 0;
    justify-content: flex-start;
    background:black;
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }

  .dropdown:hover {
    background: white;
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}

.dropdown-menu button {
  display: block;
  width: 100%;
  color: #f9f9f9;
  opacity: 1;
  height: 40px;
  text-align: left;
  white-space: nowrap;
}

@media (width >= 500px) {
  .dropdown-menu button {
    opacity: 0.6;
  }

  .dropdown:hover .button {
    opacity: 1;
    
  }
}

.dropdown-menu button:hover {
  opacity: 1;
  background-color: white;
  color: #0d0d0e;
}
/* Login Btn CSS */
    .loginBtn {
  --primary-color: #0e00ff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin: 14px 10px;
    height: 43px;
}

.loginBtn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBtn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.loginBtn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.loginBtn:hover {
  background-color: var(--hover-color);
}

.loginBtn:hover .arrow {
  background: var(--secondary-color);
}

.loginBtn:hover .arrow:before {
  right: 0;
}

/* ArmyGPT  CSS*/
.GPT {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
  height: 45px;
  margin: 14px 6px;
  font-family: "Euclid Circular A";
 }
 
 .GPT:hover {
  letter-spacing: 3px;
  background-color: #0e00ff;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
 }
 
 .GPT:active {
  letter-spacing: 3px;
  background-color: #0e00ff;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }
 /* loginBtn corner */
 #LogCorner
{
   border: 2pz solid red;
}

.banner{
  width : 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
}
.slider{
  width : 100%; 
  height: 100vh;
  position: absolute;
}

.overlay{
  width: 100%;
  height: 80%;

  position: absolute;
  top:0%
}



#explore{
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
 }
 
 #explore:focus {
  box-shadow: #ffffff 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
 }
 
 #explore:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
 }
 
 #explore:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
 }

 .container1{
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-left: 138px;
  margin-top: -180px;
 }

 .container1 .card{
  position: relative;
  max-width: 300px;
  height: 150px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;

 }
 .container1 .card:hover{
  height: 420px;
 }



 .container1 .card .imgbx{
  position: relative;
  width: 260px;
  height: 160px;
  top:-60px;
  left: 20px; 
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  z-index: 1;

 }
 .container1 .card .imgbx img{
  max-width: 100%;
  border-radius: 4px;
 }

 .container1 .card .content{
  position: relative;
  margin-top: -140px ;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0 ;
  transition: 0.3s ease-in-out;
 
 }

 .container1 .card:hover  .content{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
 }

 .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 40px 60px;
}

.container .drop {
  position: relative;
  width: 350px;
  height: 350px;
  background: #f1f1f1;
  margin: 40px 60px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .drop:nth-child(1) {
  border-radius: 53% 47% 55% 45% / 46% 49% 51% 54%;
}
.container .drop:nth-child(4) {
  border-radius: 53% 47% 55% 45% / 46% 49% 51% 54%;
}
.container .drop:nth-child(2) {
  border-radius: 48% 52% 42% 58% / 45% 42% 58% 55%;
}
.container .drop:nth-child(5) {
  border-radius: 48% 52% 42% 58% / 45% 42% 58% 55%;
}
.container .drop:nth-child(3) {
  border-radius: 62% 38% 62% 38% / 36% 53% 47% 64%;
}
.container .drop:nth-child(6) {
  border-radius: 62% 38% 62% 38% / 36% 53% 47% 64%;
}

.container .drop:hover {
  border-radius: 50%;
}

.container .drop::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.container .drop::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.9;
}

.container .drop .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;
}
.container .drop .content h2 {
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  background: #eff0f4;
  border-radius: 50%;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -5px 10px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.025);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: var(--clr);
}

.container .drop .content a {
  position: relative;
  padding: 10px 25px;
  background: var(--clr);
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.75;
  transition: 0.5s;
}

.container .drop .content a:hover {
  opacity: 1;
}

