.loginpanel-container {
  min-height: 100vh;
}
.loginpanel-loginpanel {
  width: 828px;
  height: 727px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 100%);
}
.loginpanel-password {
  top: 335px;
  left: 239px;
  width: 350px;
  height: 75px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.loginpanel-text {
  color: rgba(127, 134, 154, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loginpanel-passwordform {
  top: 25px;
  left: 0px;
  width: 350px;
  height: 50px;
  position: absolute;
  border-color: rgba(208, 221, 229, 1);
  border-style: solid;
  border-width: 1px;
}
.loginpanel-text02 {
  top: 43px;
  left: 20px;
  color: rgba(165, 169, 179, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loginpanel-username {
  top: 245px;
  left: 239px;
  width: 350px;
  height: 75px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.loginpanel-text04 {
  color: rgba(127, 134, 154, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loginpanel-usernameform {
  top: 25px;
  left: 0px;
  width: 350px;
  height: 50px;
  position: absolute;
  border-color: rgba(208, 221, 229, 1);
  border-style: solid;
  border-width: 1px;
}
.loginpanel-text06 {
  top: 43px;
  left: 20px;
  color: rgba(165, 169, 179, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loginpanel-l-o-g-i-n-b-t-n {
  top: 474px;
  left: 239px;
  width: 350px;
  height: 104px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.loginpanel-loginshadow {
  top: 16px;
  left: 12px;
  width: 327px;
  height: 35px;
  position: absolute;
  border-color: rgba(150, 150, 150, 1);
  border-radius: 10px;
}
.loginpanel-loginbtnbg {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 50px;
  position: absolute;
  border-color: rgba(150, 150, 150, 1);
  border-radius: 10px;
}
.loginpanel-text08 {
  top: 16px;
  left: 151.5px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loginpanel-text08:hover{
  color: white;
}
.loginpanel-text10 {
  top: 86px;
  left: 146px;
  color: rgba(177, 172, 242, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loginpanel-intro {
  top: 110px;
  left: 239px;
  width: 350px;
  height: 85px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.loginpanel-text12 {
  left: 89px;
  color: rgba(105, 113, 134, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loginpanel-text14 {
  top: 45px;
  color: rgba(127, 134, 154, 1);
  width: 350px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loginpanel-loginoptions {
  top: 425px;
  left: 240px;
  width: 352px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.loginpanel-text16 {
  top: 6px;
  left: 258px;
  color: rgba(150, 121, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.loginpanel-rememberme {
  top: 0px;
  left: 0px;
  width: 112px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.loginpanel-checkbox {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-color: rgba(208, 221, 229, 1);
  border-style: solid;
  border-width: 1px;
}
.loginpanel-text18 {
  top: 3px;
  left: 34px;
  color: rgba(106, 113, 135, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
